@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/* * {
  border: 1px solid black;
} */

:root {
  --main-bg-color: #191919;
  --new-todo-bg-color: #202020;
  --text-color: #f0ebe2;
  --accent-color: #2383e2;
  --bg-color-red: #6e3630;
  --bg-color-yellow: #89632a;
  --bg-color-blue: #28456c;
  --bg-color-orange: #854c1d;
  --bg-color-green: #2b593f;
  --bg-color-purple: #89632a;
  --bg-color-lightgray: #373737;
  --bg-color-gray: #5a5a5a;
  --bg-color-brown: #603b2c;
  --bg-color-pink: #69314c;
}

html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 50px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

#header {
  display: grid;
  font-family: "Libre Baskerville", serif;
}

#nav-bar {
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding-bottom: 7px;
  margin-bottom: 15px;
  border-bottom: 1px solid #b4b1aa;
}

#categories {
  display: flex;
  column-gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--text-color-white);
}

#categories button {
  border: none;
  padding: 0;
  background: none;
  font-weight: bold;
  color: var(--text-color-white);
  cursor: pointer;
}

#categories select {
  background-color: var(--main-bg-color);
  border: none;
  color: var(--text-color);
}

#new-todo-btn {
  margin-left: auto;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  padding: 7px 10px 3px 10px;
  font-size: 0.90rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  cursor: pointer;
}

#todos-view {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.todo-item {
  display: flex;
  column-gap: 10px;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  font-size: 0.90rem;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

.todo-item:hover {
  background-color: var(--new-todo-bg-color);
  cursor: pointer;
}

.todo-item div:first-child {
  margin-right: auto;
}

.todo-item .property {
  padding: 0px 10px;
  border-radius: 5px;
}

.todo-item .title {
  border-bottom: 1px solid #b4b1aa54;
}

.todo-item .not-started, 
.todo-item .urgent {
  background-color: var(--bg-color-red);
}

.todo-item .in-progress,
.todo-item .important {
  background-color: var(--bg-color-yellow);
}

.todo-item .done,
.todo-item .no-priority {
  background-color: var(--bg-color-green);
}

#overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4)
}

.todo-modal {
  background-color: var(--new-todo-bg-color);
  border-radius: 5px;
  padding: 60px 50px 50px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min-content;
  height: min-content;
}

.todo-modal > form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.todo-modal form input[type=text] {
  border: none;
  background: none;
  padding: 0px;
  color: var(--text-color);
  width: 100%;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.todo-modal form input[type=text]::placeholder {
  color: var(--text-color);
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

input:focus,
select:focus {
  outline: none;
}

.todo-modal > form > #properties {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.todo-modal > form > #properties div {
  display: flex;
}

.todo-modal form label {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  font-weight: bold;
  width: 125px;
}

.todo-modal form select,
.todo-modal form input[type=date] {
  background-color: var(--new-todo-bg-color);
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: .90rem;
  color: var(--text-color);
  width: fit-content;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin-left: -20px;
}

.submit-btn {
  width: 45px;
  position: absolute;
  right: 3%;
  top: 4%;
  margin-left: auto;
  background-color: var(--bg-color-green);
  border: none;
  border-radius: 5px;
  padding: 3px 0px 3px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color);
  cursor: pointer;
}

#new-todo-modal > form > #cancel-btn {
  width: 25px;
  position: absolute;
  left: 2.50%;
  top: 3%;
  margin-left: auto;
  background-color: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  /* font-weight: bold; */
  color: var(--text-color);
  cursor: pointer;
}

#edit-todo-modal > form > #delete-btn {
  width: 50px;
  position: absolute;
  left: 3.50%;
  top: 4%;
  margin-left: auto;
  background-color: var(--bg-color-red);
  border: none;
  border-radius: 5px;
  padding: 3px 0px 3px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  color: var(--text-color);
  cursor: pointer;
}

#edit-categories-modal {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: "Montserrat", sans-serif;
}

#edit-categories-modal > #custom-categories {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#edit-categories-modal #custom-categories div,
#add-category-div {
  display: flex;
  column-gap: 50px;
}

#edit-categories-modal > #custom-categories div button {
  width: 50px;
  margin-left: auto;
  border: none;
  background-color: var(--bg-color-red);
  border: none;
  border-radius: 5px;
  padding: 3px 0px 3px 0px;
  font-size: 0.75rem;
  color: var(--text-color);
  cursor: pointer;
}

#add-category-div > input[type=text] {
  border: none;
  background: none;
  padding: 0px;
  color: var(--text-color);
  width: 150px;
  font-size: 1rem;
}

#edit-categories-modal div input[type=text]::placeholder {
  color: var(--text-color);
}

#edit-categories-modal div #add-category-btn {
  width: 50px;
  margin-left: auto;
  border: none;
  background-color: var(--bg-color-green);
  border: none;
  border-radius: 5px;
  padding: 3px 0px 3px 0px;
  font-size: 0.75rem;
  color: var(--text-color);
  cursor: pointer;
}

#edit-categories-modal > #cancel-btn {
  width: 25px;
  position: absolute;
  left: 2%;
  top: 3%;
  margin-left: auto;
  background-color: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  /* font-weight: bold; */
  color: var(--text-color);
  cursor: pointer;
}